
@model List<Superhero>

<h1>Superheros</h1>

@foreach (var Superhero in Model)
{
    <hr />
    <h1 class="red-class">@Superhero.Name @Superhero.AlterEgo @Superhero.PrimaryAbility
        @Superhero.SecondaryAbility @Superhero.CatchPhrase
    </h1>
    <a asp-action="Details" asp-route-computer="@Superhero.Id">Details</a>
    <hr />
}
